<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_nodeM">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="115200"/>
  </node>
  <node pkg="rosserial_python" type="serial_nodeN.py" name="serial_nodeN">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="115200"/>
  </node>
  <node name="main_node" pkg="robot" type="main_node" />
</launch>